- @date = 'October 2010'
.left.column
.middle.column
  .story
    %h4 pickardayune.com
    %p We're now all fancy and official-looking at our new <a href="http://pickarayune.com/">digs</a>.
.right.column
  .story
    %h4 Weather
    %p September started out just as dry as August was. There was no chance of a rainy, wet Labor day.
    %p Due to the lack of rain, the late-summer ragweed pollen count stayed around 11 for far too long.
  .story
    %h4 Electric Fence Report
    %p No zappings have been reported.
