- @date = 'August 2010'
.left.column
  .story
    %h4 Hogs
    %p They squeal. They stink. The residents of Pickard (and its environs) have noted that the air is much more pleasant with a westerly breeze. Sorry, Tipton County, we'd prefer to be up-wind.
.middle.column
  .story
    %h4 Remarkably slow to update
    %p The Pickard Ayune staff humbly apologizes for failing to produce the August issue in a timely manner.
.right.column
  .story
    %h4 Traffic
    %p On the 20th, three cars were seen at the Pickard intersection. One had a trailer, and waited for the others to move out of the intersection.
    %p Fortunately, they quickly went their different ways, clearing the unusual congestion.
