- @date = 'August 2010'
.left.column
  .story
    %h4 September!
    %p I can't believe it's September already.
    %p Growing up in the city, September meant that fall was definitely here.
    %p Living on a farm now, I am adjusting to the realization that September is the second peak month of the summer.
.middle.column
  .story
    %h4 Crops
    %p The row crops are changing colors.
    %p Fall plantings of vegetables are in the ground.
    %p Veggies want rain. I don't know what the row crops want.
.right.column
  .story
    %h4 Weather
    %p It's dry. After a 3x June (rainwise), we just had a 0.5x August.
    %p There are wild and crazy predictions of rain.
    %p Cooler temperatures hint at autumn.
    %p The days are shorter, so get those lights on in your chicken houses!
