- @date = 'November 2010'
.left.column
  .story
    %h3 Happy thanksgiving!
    %p Please take time to be thankful and to reflect on the blessings in your life.
.middle.column
  .story
    %h3 Reviews
    %p We've started doing reviews over at <a href="http://www.urbanspoon.com/u/profile/963940/Pickard_Ayune.html">urbanspoon</a>.
    %p In Sheridan, we thought <a href="http://www.urbanspoon.com/r/40/1505270/restaurant/Indianapolis/Stuarts-Steak-House-Sheridan">Stuart's Steakhouse</a> was OK and <a href="http://www.urbanspoon.com/r/40/990538/restaurant/Indianapolis/Midwest-Grill-Sheridan">Midwest Grill</a> was better than we expected.
    %p In Kokomo, we like visiting <a href="http://www.urbanspoon.com/r/172/986148/restaurant/Indiana/Windmill-Grill-Kokomo">Windmill Grill</a>.
    %p In Zionsville, the place to go (if you have the time and money) is <a href="http://www.urbanspoon.com/r/40/442044/restaurant/Indianapolis/Plums-Upper-Room-Zionsville">Plum's Upper Room</a>.
    %p This isn't a complete list of places we've been. Keep your eye out for more reviews!
.right.column
  .story
    %h3 Weather
    %p November came in with a little snow on 5-Nov.
    %p How much snow will we get?
    %p Tweet your thoughts with #pickardayune
