- @date = 'October 2010'
.left.column
  .story
    %h3 Happy Halloween!
    %p Trick-or-treating? in Pickard?
    %p You never know!
    %p You never not!
.middle.column
  .story
    %h3 Harvest time
    %p ... is almost done.
    %p Unlike last year's snowy harvest conclusion, this year the corn and beans got taken away during our dry dry dry September.
  .story
    %h3 Weather
    %p Fall is hinting at its arrival.
    %p Will we have frost in the first week?
.right.column
