- @date = 'August 2010'
.left.column
  .story
    %h4 Remarkably slow to update
    %p The Pickard Ayune staff humbly apologizes for failing to produce the August issue in a timely manner.
.middle.column
  .story
    %h4 Hogs
    %p They squeal. They stink. The residents of Pickard (and its environs) have noted that the air is much more pleasant with a westerly breeze. Sorry, Tipton County, we'd prefer to be up-wind.
.right.column
  .story
    %h4 Space
    %p It'd be a shame to have all this space, and to leave a column empty.
