- @date = 'October 2010'
.left.column
  .story
    %h3 Happy Halloween!
    %p Let us know if you're planning to trick-or-treat!
.middle.column
  .story
    %h3 Harvest time
    %p ... not anymore.
    %p Unlike last year's snowy harvest, this year the corn and beans got taken away during our dry dry dry September.
.right.column
