!!!
%html
  %head
    %title
      Pickard Ayune - 17 July 2010
    %link{:href => '/style.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => '/jquery.js'}
    %script{:src => '/app.js'}
  %body
    .page
      .masthead
        %h1
          Pickard Ayune
        .price
          25&cent;
        .date
          July 2010
      .content
        .left.column
          .story
            %h4 Raynes Family moves in
            %p Welcome the new neighbors!
        .middle.column
          .story
            %h4 Working hard
            %p We'll have more news for y'all later.
        .right.column
          .story
            %h3 Weather
            %p The rain seems to have let up.
          .story
            %h3 Crops
            %p The corn is tall.
            %p The soybeans are bushy.
            %p Soybeans have been replanted in the low areas.
