!!!
%html
  %head
    %title
      Pickard Ayune -
      = @date
    %link{:href => '/style.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => '/jquery.js'}
    %script{:src => '/app.js'}
    - if production?
      %script{:src => 'http://search.twitter.com/search.json?q=%23pickard&callback=showtweets'}
    - else
      %script{:src => '/example_twitter_search_results.js'}
  %body
    .page
      .masthead
        %h1
          %a{:href => '/'}
            Pickard Ayune
        .price
          25&cent;
        .date
          = @date
      .content
        =yield
