- @date = 'July 2010'
.left.column
  .story
    %h4 New family moves in
    %p A new family moved into Ed Storms's old house. Welcome them to town!
.middle.column
  .story
    %h4 Working hard
    %p We'll have more news for y'all later.
.right.column
  .story
    %h3 Weather
    %p The rain seems to have let up.
  .story
    %h3 Crops
    %p The corn is tall.
    %p The soybeans are bushy.
    %p Soybeans have been replanted in the low areas.
